@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

span.elision{
	margin: .5em;
	margin-left: 3em;
}

[epub|type~="z3998:valediction"] .signature{
	font-style: normal;
	font-variant: small-caps;
	margin: 0;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

p[epub|type~="z3998:valediction"]{
	margin: 1.5em;
}

p[epub|type~="z3998:salutation"],
p[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

/* Gravestone-type inscriptions */
.inscription{
	text-align: center;
}

.inscription p{
	text-align: center;
	font-variant: small-caps;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 1em;
}

[epub|type~="z3998:song"],
[epub|type~="z3998:verse"]{
	display: inline-block; 
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
